<html>
    <head>
        <title>Headlines</title>
    </head>
    <body>
        <form>
            <input type="text" name="publication" placeholder="search" />
            <input type="submit" value="Submit" />
        </form>
        <form>
            <input type="text" name="city" placeholder="weather serch"/>
            <input type="submit" value="Submit"/>
        </form>
        <h1>Headlines</h1>
        <h2>天气预报</h2>
        <p>城市:<b>{{weather.city}}</b></p>
        <p>pm2.5：{{weather.pm25}}</p>
        <p>{{weather.description}} | {{weather.temperature}}°c</p>
        <p>公告：{{weather.notice}}</p>
        <h2>Headlines</h2>
        {% for article in articles %}
            <b><a href="{{article.link}}>">{{article.title}}</a></b><br />
            <i>{{article.published}}</i><br />
            <p>{{article.summary}}</p>
        {% endfor %}
    </body>
</html>